 body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: helvetica, arial, sans-serif, raleway;
	color: white;
	line-height: 1.5;
	background-color: #201f1f;
	scroll-behavior: smooth;
	overflow-x: hidden;
	display: block;
	padding: 0;
 }
 nav{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #4d4d4d;
	text-align: right;
	position: fixed;
	z-index: 10;
}
nav a{
	color: white;
	padding: 20px;
	font-size: 15px;
}
nav a:hover{
	background-color: #cc9933;
	color: white;
	padding: 10px 20px;
}
a{
    text-decoration: none;
}
.navved{
	padding: 10px 20px;
	background-color: #cc9933;
	color: white;
}
.bg-landing {
	width: 100%;
	height: 800px;
	background-image: url(../images/primary.jpg);
	background-size: cover;
	background-attachment: scroll;
}
.dark-scarf {
	width: 100%;
	height: 100%;
	background-color: rgba(3, 3, 3, 0.7);
}
.mobile-nav{
	width: 80%;
	height: 100vh;
	line-height: 50px;
	background-color: #fff;
	position: fixed;
	z-index: 5;
	transition: 0.3s ease-in-out;
}
.mobile-nav.closed {
    width: 100%;
    height: 50px;
    position: fixed;
}
 .mobile-nav.closed a:first-child {
    padding-top: 0;
    border: 0;
    padding-bottom: 0;
    font-size: 16px;
    display: block;
    position: absolute;
 }
.mobile-nav.closed{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.mobile-nav.closed a{
	color: #cc9933;	
}
.mobile-nav.closed a:not(:first-child){
	display: none;
}
.mobile-nav a{
	display: block;
	text-indent: 10px;
	line-height: 50px;
    font-size: 16px;
    color: #cc9933;
    border-bottom: 0.5px solid #f9f9f9;
    border-radius: 4px;
    animation: fadeIn 1.1s linear;
    margin-right: 10px;
}
.mobile-nav.closed a:first-child{
	margin-top: 0px; 
	display: block;
}
.mobile-nav.closed a:last-child{
	display: block;
}
.mobile-nav a:last-child{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	text-indent: 0;
	font-size: 20px;
}
.mobile-nav a:first-child {
	padding-top: 15%;
    margin-bottom: 10%;
    font-size: 20px;
    display: block;
 }
.mobile-nav a:first-child{
	margin-top: 150px;

}
.img-container{
	width: 50%;
	height: 90px;
	overflow: hidden;
}
.img-container img{
	width: 80%;
	height: auto;
}
.filter{
	filter: brightness(40%);
}
.shadow:hover{
	filter: brightness(80%);
}
.filter:hover{
	filter: brightness(90%);
	transition: 1s;
}
 .border-radius{
 	border-radius: 60%; 
}
.raleway{
	font-family: Raleway;
}
.px10{
	font-size: 10px;
}
.px13{
	font-size: 13px; 
}
.px14{
	font-size: 14px;
}
.px15{
	font-size: 15px;
}
.px16{
	font-size: 16px;
}
.px18{
	font-size: 18px;
}
.px20{
	font-size: 20px;
}
.px23{
	font-size: 23px;
}
.px25{
	font-size: 25px;
}
.px30{
	font-size: 30px;
}
.px35{
	font-size: 35px;
}
.px45{
	font-size: 45px;
}
.px40{
	font-size: 40px;
}
.px50{
	font-size: 50px;
}
.px60{
	font-size: 60px;
}
.px70{
	font-size: 70px;
}
.px80{
	font-size: 80px;
}
.font-weight{
	font-weight: 900;
}
.bold{
	font-weight: 1000;
}
.font{
	font-family: papyrus;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.colour{
	color: #0d0d0d;
}
.colour-2{
	color: #cc9933;
}
.white{
	color: white;
}
.fade{
	color: rgba(236, 229, 229, 0.883);
}
.black{
	color: black;
}
.text{
	color: #e6e6e6;
}
.raleway{
	font-family: raleway;
}
.height{
	height: 200px;
}
.shift-right{
	text-align: right;
}
.shift-left{
	text-align: left;
}
.shift-centre{
	text-align: center;
}
.bottom-50{
	padding-bottom: 50px;
}
.bottom-90{
	padding-bottom: 90px;
}
.mother{
	width: 100%;
	position: relative;
	float: left;
}
.container{
	width: 94%;
	position: relative;
	float: left;
	margin-left: 3%;
}
.container-2{
	width:100%;
	position: relative;
	float: left;
	margin-left: 10%;
}
.mobile-logo img{
	height:100%;
	width: auto;
}
.mobile-logo{
	width: 80px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.img-container-2{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.img-container-2 img{
	width: 100%;
	height: auto;
}
.img-container-3{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.img-container-3 img{
	width: 100%;
	height: auto;
}
.img-container-4{
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.img-container-4 img{
	width: 100%;
	height: auto;
}
.img-container-5{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.img-container-5 img{
	width: 100%;
	height: auto;
}
.img-container-6{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.img-container-6 img{
	width: 100%;
	height: auto;
}
.img-container-7{
	width: 250px;
	height: auto;
	overflow: hidden;
}
.img-container-7 img{
	width: 200px;
	height: 200px;
}
.img-container-8{
	width: 100%;
	height: 570px;
	overflow: hidden;
}
.img-container-8 img{
	width: 100%;
	height: auto;
}
.img-container-9{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.img-container-9 img{
	width: 100%;
	height: auto;
}
.bg-color-code-1 {
	background-color: #cc9933;
}
.color-code-1 {
	color: #cc9933;
}
.bg-color-code-1 {
	background-color: #cc9933;
}
.bg-color-code-2 {
	background-color:#4d4d4d;
}
.border-color-code-1 {
	border: 0.5px solid #cc9933;
}
.to-color-code-1:hover {
	background-color: #cc9933;
	color:  #4d4d4d
}
.color-code-2 {
	color: #4d4d4d;
}
.bg-color-code-2 {
	background-color: #4d4d4d;
}
.bg-color-code-3{
	background-color: transparent;
}
.border-color-code-2 {
	border: 0.5px solid #4d4d4d;
}
.to-color-code-2:hover {
	background-color: #4d4d4d;
	color: #cc9933;
}
.white-bordered {
	border: 0.5px solid #fff;
}
.bg-dark {
	background-color: #222;
}
.bg-footer {
	width: 100%;
	height: 200px;
	background-image: url(../images/logo.png);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	float: left;
}
.btn-sm{
	padding: 10px 30px;
	border-radius: 4px;
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
	transition: 0.3s ease-in-out;
}
.btn-sm-curved{
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
	transition: 0.3s ease-in-out;
}
.card{
	width: 94%;
	margin-left: 3%;
	box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
	position: relative;
	float: left;
	background-color: rgb(29, 26, 26);
	padding-bottom: 30px;
}
.card-2{
	width: 20%;
	margin-left: 3%;
	background-color: rgb(29, 26, 26);
	box-shadow: 0px 2px 16px rgba(0,0,0,0.1);
	position: relative;
	float: left;
	padding-bottom: 30px;
}
.card-3{
	width: 94%;
	margin-left: 3%;
	box-shadow: 10px 2px 20px rgba(0,0,0,0.1);
	position: relative;
	background-color: #333030;
	float: left;
	padding-bottom: 30px;
}
.form-group{
	margin-bottom: 20px;
}
input[type=submit] {
	background-color: #cc9933;
	color: white;
    padding: 12px 20px;
    border: 1px solid rgba(221, 151, 22, 0.883);
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
	background-color: #cc9933;
}
.form-input {
	font-size: 15px;
	padding: 10px 20px;
	font-family: inherit;
	color: black;
	border-radius: 2px;
	background-color:white;
	border: 1px solid rgb(202, 211, 202);
	border-bottom: 1px solid rgb(190, 196, 190);
	display: block;
	width: 70%;
}
@media(min-width: 900px){
	.hidden-lg{
		display: none;
	}
	.col-1 {
		width: 8.33%;
		position: relative;
		float: left;
	}
	.col-2 {
		width: 16.66%;
		position: relative;
		float: left;
	}
	.col-3 {
		width: 25%;
		position: relative;
		float: left;
	}
	.col-4 {
		width: 33.33%;
		position: relative;
		float: left;
	}
	.col-5 {
		width: 41.66%;
		position: relative;
		float: left;
	}
	.col-6 {
		width: 50%;
		position: relative;
		float: left;
	}
	.col-7 {
		width: 58.33%;
		position: relative;
		float: left;
	}
	.col-8 {
		width: 66.66%;
		position: relative;
		float: left;
	}
	.col-9 {
		width: 75%;
		position: relative;
		float: left;
	}
	.col-10 {
		width: 83.33%;
		position: relative;
		float: left;
	}
	.col-11 {
		width: 91.66%;
		position: relative;
		float: left;
	}
	.col-12 {
		width: 100%;
		position: relative;
		float: left;
	}
	.off-1 {
		margin-left: 8.33%;
	}
	.off-2 {
		margin-left: 16.66%;
	}
	.off-3 {
		margin-left: 25%;
	}
	.off-4{
		margin-left: 33.33%;
	}
	.off-5{
		margin-left: 41.66%;
	}
	.off-6{
		margin-left: 50%;
	}
	.off-7{
		margin-left: 58.33%;
	}
	.off-8{
		margin-left: 66.66%;
	}
	.off-10{
		margin-left: 83.33%;
	}
	.down-1{
		margin-top: 1%;
	}
	.down-2{
		margin-top: 2%;
	}
	.down-3 {
		margin-top: 3%;
	}
	.down-4{
		margin-top: 4%;
	}
	.down-5 {
		margin-top: 5%;
	}
	.down-8{
		margin-top: 8%;
	}
	.down-10 {
		margin-top: 10%;
	}
	.down-15 {
		margin-top: 15%;
	}
	.down-20 {
		margin-top: 20%;
	}
	.down-25 {
		margin-top: 25%;
	}
	.down-30 {
		margin-top: 30%;
	}
	.down-52{
		margin-top: 53%;
	}
	.down-70{
		margin-top: 70%;
	}
}
@media(max-width: 759px){
	.hidden-xs{
		display: none;
	}
	.xs-1 {
		width: 8.33%;
		position: relative;
		float: left;
	}
	.xs-2 {
		width: 16.66%;
		position: relative;
		float: left;
	}
	.xs-3 {
		width: 25%;
		position: relative;
		float: left;
	}
	.xs-4 {
		width: 33.33%;
		position: relative;

		float: left;
	}
	.xs-5 {
		width: 41.66%;
		position: relative;
		float: left;
	}
	.xs-6 {
		width: 50%;
		position: relative;
		float: left;
	}
	.xs-7 {
		width: 58.33%;
		position: relative;
		float: left;
	}
	.xs-8 {
		width: 66.66%;
		position: relative;
		float: left;
	}
	.xs-9 {
		width: 75%;
		position: relative;
		float: left;
	}
	.xs-10 {
		width: 83.33%;
		position: relative;
		float: left;
	}
	.xs-11 {
		width: 91.66%;
		position: relative;
		float: left;
	}
	.xs-12 {
		width: 100%;
		position: relative;
		float: left;
	}
	.xs-left-align{
		text-align: left;
	}
	.text-box{
	width: 300px !important;
	position: absolute;
	top: 100px !important;
	left: 10px !important;
	color: #fff;
	animation: textup 12s linear infinite;
	transform: translateY(100px);
}
	.xs-off-1 {
		margin-left: 8.33%;
	}
	.xs-off-2 {
		margin-left: 16.66%;
	}
	.xs-off-3 {
		margin-left: 25%;
	}
	.xs-off-4{
		margin-left: 33.33%;
	}
	.xs-off-5{
		margin-left: 41.66%;
	}
	.xs-off-6{
		margin-left: 50%;
	}
	.xs-off-7{
		margin-left: 58.33%;
	}
	.xs-off-8{
		margin-left: 66.66%;
	}
	.xs-off-10{
		margin: 100%;
	}
	.xs-down-1{
		margin-top: 1%;
	}
	.xs-down-3 {
		margin-top: 3%;
	}
	.xs-down-5 {
		margin-top: 5%;
	}
	.xs-down-8{
		margin-top: 8%;
	}
	.xs-down-10 {
		margin-top: 10%;
	}
	.xs-down-15 {
		margin-top: 15%;
	}
	.xs-down-20 {
		margin-top: 20%;
	}
	.xs-down-25 {
		margin-top: 25%;
	}
	.xs-down-30 {
		margin-top: 30%;
	}
	.xs-down-40 {
		margin-top: 40%;
	}
	.xs-down-50 {
		margin-top: 50%;
	}
	.xs-down-135{
		margin-top: 135%;
	}
	.xs-down-150{
		margin-top: 150%;
	}
	.xs-px-4{
		font-size: 4px !important;
	}
	.xs-px12{
		font-size: 12px !important;
	}
	.xs-px15{
		font-size: 15px !important;
	}
	.xs-px16{
		font-size: 16px !important;
	}
	.xs-px18{
		font-size: 16px !important;
	}
	.xs-px20{
		font-size : 20px !important;
	}
	.xs-px25{
		font-size : 25px !important;
	}
	.xs-px23{
		font-size : 23px !important;
	}
	.xs-px30{
		font-size: 30px !important;
	}
	.xs-px40{
		font-size: 40px !important;
	}
	.xs-shift-centre{
		text-align: center;
	}
	.xs-color{
        color:  #cc9933 !important; 
	}
	.bg-landing{
		height: 580px !important;
	}
	.img-container{
		height: 250px;
		width: 70px;
	}
	.img-container-2{
		width: 100%;
		height: 250px !important;
	}
	.img-container-3{
		width: 100%;
		height: 180px;
	}
	.img-container-4{
		width: 100%;
		height: 300px;
	}
	.img-container-5{
		width: 100%;
		height: 250px;
	}
	.img-container-6{
		width: 100%;
		height: 415px;
	}
	.img-container-7{
		width: 100%;
		height: 200px;
	}
	.img-container-8{
		width: 100%;
		height: 550px;
	}
	.img-container-9{
		width: 100%;
		height: 180px;
	}
	.card{
		width: 93%;
		margin-left: 3%;
		box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
		position: relative;
		float: left;
		padding-bottom: 30px;
	}
	.card-2{
		width: 80%;
		height: 350px;
		margin-left: 3%;
		background-color: rgb(29, 26, 26);
		box-shadow: 0px 2px 16px rgba(0,0,0,0.1);
		position: relative;
		float: left;
		padding-bottom: 30px;
	}
	.card-3{
		width: 80%;
		margin-left: 3%;
		box-shadow: 10px 2px 20px rgba(0,0,0,0.1);
		position: relative;
		background-color: #333030;
		float: left;
		padding-bottom: 30px;
	}
}
@media( min-width: 760px) and (max-width: 899px) {
	.hidden-md {
		display: none;
	}
	.md-1 {
		width: 8.33%;
		position: relative;
		float: left;
	}
	.md-2 {
		width: 16.66%;
		position: relative;
		float: left;
	}
	.md-3 {
		width: 25%;
		position: relative;
		float: left;
	}
	.md-4 {
		width: 33.33%;
		position: relative;

		float: left;
	}
	.md-5 {
		width: 41.66%;
		position: relative;
		float: left;
	}
	.md-6 {
		width: 50%;
		position: relative;
		float: left;
	}
	.md-7 {
		width: 58.33%;
		position: relative;
		float: left;
	}
	.md-8 {
		width: 66.66%;
		position: relative;
		float: left;
	}
	.md-9 {
		width: 75%;
		position: relative;
		float: left;
	}
	.md-10 {
		width: 83.33%;
		position: relative;
		float: left;
	}
	.md-11 {
		width: 91.66%;
		position: relative;
		float: left;
	}
	.md-12 {
		width: 100%;
		position: relative;
		float: left;
	}
	.md-left-align{
		text-align: left;
	}
	.text-box{
	width: 300px !important;
	position: absolute;
	top: 100px !important;
	left: 10px !important;
	color: #fff;
	animation: textup 12s linear infinite;
	transform: translateY(100px);
}
	.md-off-1 {
		margin-left: 8.33%;
	}
	.md-off-2 {
		margin-left: 16.66%;
	}
	.md-off-3 {
		margin-left: 25%;
	}
	.md-off-4{
		margin-left: 33.33%;
	}
	.md-off-5{
		margin-left: 41.66%;
	}
	.md-off-6{
		margin-left: 50%;
	}
	.md-off-7{
		margin-left: 58.33%;
	}
	.md-off-8{
		margin-left: 66.66%;
	}
	.md-off-10{
		margin: 100%;
	}
	.md-down-1{
		margin-top: 1%;
	}
	.md-down-3 {
		margin-top: 3%;
	}
	.md-down-5 {
		margin-top: 5%;
	}
	.md-down-8{
		margin-top: 8%;
	}
	.md-down-10 {
		margin-top: 10%;
	}
	.md-down-15 {
		margin-top: 15%;
	}
	.md-down-20 {
		margin-top: 20%;
	}
	.md-down-25 {
		margin-top: 25%;
	}
	.md-down-30 {
		margin-top: 30%;
	}
	.md-down-50 {
		margin-top: 50%;
	}
	.md-down-70 {
		margin-top: 70%;
	}
	.md-down-80 {
		margin-top: 80%;
	}
	.md-down-135{
		margin-top: 135%;
	}
	.md-down-150{
		margin-top: 150%;
	}
	.md-px-4{
		font-size: 4px !important;
	}
	.md-px12{
		font-size: 12px !important;
	}
	.md-px15{
		font-size: 15px !important;
	}
	.md-px16{
		font-size: 16px !important;
	}
	.md-px18{
		font-size: 16px !important;
	}
	.md-px20{
		font-size : 20px !important;
	}
	.md-px25{
		font-size : 25px !important;
	}
	.md-px30{
		font-size: 30px !important;
	}
	.md-px40{
		font-size: 40px !important;
	}
	.md-px60{
		font-size: 60px !important;
	}
	.md-color{
		color:  #cc9933 !important; 
	}
	.card{
		width: 93%;
		margin-left: 3%;
		box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
		position: relative;
		float: left;
		background-color: rgb(29, 26, 26);
		padding-bottom: 30px;
	}
	.card-2{
		width: 30%;
		height: 300px;
		margin-left: 3%;
		background-color: rgb(29, 26, 26);
		box-shadow: 0px 2px 16px rgba(0,0,0,0.1);
		position: relative;
		float: left;
		padding-bottom: 30px;
	}
	.card-2{
		width: 30%;
		height: 400px;
		margin-left: 3%;
		background-color: rgb(29, 26, 26);
		box-shadow: 0px 2px 16px rgba(0,0,0,0.1);
		position: relative;
		float: left;
		padding-bottom: 30px;
	}
	.img-container{
		width: 100%;
		height: 80px;
	}
	.img-container-2{
		width: 100%;
		height: 400px;
	}
	.img-container-3{
		width: 100%;
		height: 200px;
	}
	.img-container-5{
		width: 100%;
		height: 250px;
	}
	.img-container-6{
		height: 500px;
	}
	.img-container-8{
		height: 570px;
	}
	.bg-landing{
		width: 100%;
		height: 900px;
	}
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(7, 7, 7, 0.205);
    color: #cc9933;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
     /*border: 0.5px solid #fff; */
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
    text-align: center;
    text-indent: 0;
}
.icon-2{
	 display: inline-block;	
    width: 40px;
    height: 40px;
    background-color: #006600;
    color: #fff;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
     /*border: 0.5px solid #fff; */
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
	text-indent: 0;
}
.icon-3 {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(7, 7, 7, 0.205);
    color:white;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
     /*border: 0.5px solid #fff; */
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
    text-align: center;
    text-indent: 0;
}